@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('fonts/HarmonyOS_Sans_Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('fonts/HarmonyOS_Sans_Medium.ttf');
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('fonts/HarmonyOS_Sans_Light.ttf');
    font-style: light;
    font-weight: 300;
}